@if (id_inversionista == 0) {
  <div id="carouselAutoplaying2" class="carousel slide position-relative w-100 mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="shadow rounded-3 carousel-inner">
        <div class="carousel-item active p-0" style="height: 45vh">
            <button (click)="mandarLogin()" class="w-100 border-0 rounded-2 h-100 p-0">
              <img src="https://i.ibb.co/88V3Tqg/rear-view-businessman-talking-phone-city.jpg" class="d-block w-100 h-100 object-fit-fill">
            </button>
        </div>
        <div class="carousel-item active p-0" style="height: 45vh">
          <button (click)="mandarLogin()" class="w-100 border-0 rounded-2 h-100 p-0">
            <img src="https://i.ibb.co/J5J1qCp/corporate-woman-businesswoman-holding-clipboard-with-documents-office-smiling-camera-white-bac.jpg" class="d-block w-100 h-100 object-fit-fill">
          </button>
      </div>
      <div class="carousel-item active p-0" style="height: 45vh">
          <button (click)="mandarLogin()" class="w-100 border-0 rounded-2 h-100 p-0">
            <img src="https://i.ibb.co/z4SQGFm/businessman-talking-phone.jpg" class="d-block w-100 h-100 object-fit-fill">
          </button>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
  </div>
}@else{
  <div id="carouselAutoplaying2" class="carousel slide position-relative w-100 mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="shadow rounded-3 carousel-inner">
        <div class="carousel-item active p-0" style="height: 45vh">
            <button (click)="mandarEmp()" class="w-100 border-0 rounded-2 h-100 p-0">
              <img src="https://i.ibb.co/88V3Tqg/rear-view-businessman-talking-phone-city.jpg" class="d-block w-100 h-100 object-fit-fill">
            </button>
        </div>
        <div class="carousel-item active p-0" style="height: 45vh">
          <button (click)="mandarEmp()" class="w-100 border-0 rounded-2 h-100 p-0">
            <img src="https://i.ibb.co/J5J1qCp/corporate-woman-businesswoman-holding-clipboard-with-documents-office-smiling-camera-white-bac.jpg" class="d-block w-100 h-100 object-fit-fill">
          </button>
      </div>
      <div class="carousel-item active p-0" style="height: 45vh">
          <button (click)="mandarEmp()" class="w-100 border-0 rounded-2 h-100 p-0">
            <img src="https://i.ibb.co/z4SQGFm/businessman-talking-phone.jpg" class="d-block w-100 h-100 object-fit-fill">
          </button>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
  </div>
}


