<div class="bg-dark p-0 m-0">
    <div class="row gx-0 vw-100 vh-100 p-3 shadow">
        <div class="row col-lg-8 ms-4 me-4 align-content-center justify-content-center">
            <div class="bg-light w-75 gap-5 h-100 rounded-circle overflow-x-auto d-flex flex-row align-items-center justify-content-center">
                <button class="border-0 bg-light h-100 w-100" (click)="mandarHome()">
                    <img src="https://i.ibb.co/mD9sJMB/INVEST.jpg" class="d-block w-100 h-100 object-fit-fill">
                </button>
            </div>
        </div>
        <div class="col form-signin bg-light p-5 rounded-2 align-content-center">
            <form class="row justify-content-center" formGroupName="userForm">
                <h1 class="h3 mb-3 fw-normal text-center fs-1">Iniciar sesión</h1>
                <label class="mt-3">Usuario</label>
                <input type="text" class="form-control shadow mt-1 border-0" formControlName="usuario">
                <label class="mt-3">Contraseña</label>
                <input type="password" class="form-control shadow mt-1 border-0" formControlName="clave">
    
                <button class="w-100 btn btn-dark mt-4 p-3 fs-5" type="button" (click)="onSubmit()">Iniciar sesión</button>
    
                <a href="#" class="text-center text-decoration-none mt-4 text-dark">¿No tienes una cuenta?</a>
                <a href="#" class="text-center text-decoration-none mt-2 text-dark">¿Olvidaste la contraseña?</a>
            </form>
        </div>
    </div>
</div>