<div class="vh-100 vw-100">
    <div class="bg-dark h-100 w-100">
        <header class="z-2 bg-head rounded-bottom-3 navbar pt-0 pb-0 gx-0 shadow bg-secondary" style="height: 10%;">
            <div class="container-fluid gap-0 shadow rounded-bottom-3 pt-2 pb-2 rounded-bottom-3 justify-content-around shadow bg-light">
                <h1 class="fw-semibold ms-4">Subasta</h1>
                <div class="vr"></div>
                <div class="input-group w-50">
                    <input type="text" class="form-control" placeholder="¿Buscas Algo?" aria-label="¿Buscar Algo?" aria-describedby="button-addon">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon">Buscar</button>
                </div>
                <button data-bs-toggle="offcanvas" class="navbar-toggler d-flex row align-items-center" type="button" data-bs-target="#offcanvas2" aria-controls="offcanvas2" style="margin-right: 10px">
                    <div class="col-sm-auto text-center">
                        <label class="fw-semibold">Perfil</label>
                    </div>
                    <div class="col-sm-auto rounded" style="width: 60px; height: 60px; background-color: #000000; ">
                        <img src="" alt="">
                    </div>
                </button>
            </div>
        </header>

        <div class="row gx-0 w-100 justify-content-around gap-5" style="height: 90%;">
            <div class="col bg-light h-100 overflow-auto flex-grow-1 p-5">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" style="height: 65vh;">
                        <img src="https://i.ibb.co/nsmjh6d/business-people-shaking-hands-together.jpg" class="d-block w-100 object-fit-cover" alt="...">
                      </div>
                      <div class="carousel-item" style="height: 65vh;">
                        <img src="https://i.ibb.co/nsmjh6d/business-people-shaking-hands-together.jpg" class="d-block w-100 object-fit-cover" alt="...">
                      </div>
                      <div class="carousel-item" style="height: 65vh;">
                        <img src="https://i.ibb.co/nsmjh6d/business-people-shaking-hands-together.jpg" class="d-block w-100 object-fit-cover" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                  @if (negocioSesion | async; as negocio) {
                    <div class="row gx-0 flex-column">
                      <label class="m-2 fs-1">{{negocio?.titulo}}</label>
                      <p class="m-2">{{negocio?.descripcion}}</p>
                      <label class="m-2 fs-5">{{negocio?.tipo_negocio}}</label>
                      <label class="m-2 fs-5">{{negocio?.lugar}}</label>
                    </div>
                  }
            </div>
            <div class="col bg-light flex-shrink-1 rounded-start-3" style="width: 15%;">
                <app-subasta-list (verSoli)="verSol($event)" (verInve)="verInv($event)"></app-subasta-list>
            </div>
        </div>
        <div class="shadow offcanvas offcanvas-end rounded-end-2 rounded-start-2" id="offcanvas2">
            <div class="z-2 shadow justify-content-start rounded-start-2 row fs-5 fw-semibold  pt-2 pb-2 sticky-sm-top gx-0">
                <button type="button" class="position-absolute col-auto btn-close ms-1" data-bs-dismiss="offcanvas" aria-label="close"></button>
                <label class="col-auto text-center flex-grow-1 offcanvas-title">Perfil de Usuario</label>
            </div>
            <app-perfil-opciones></app-perfil-opciones>
        </div>
    </div>
</div>


    <!-- Modal de informacion -->
    <div class="modal fade" id="modalStatic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalstaticnegocio" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body bg-dark">
                <h1 class="fs-2 text-center mb-4 text-light">Agregar Solicitud de Inversion</h1>
                <form class="row justify-content-" [formGroup]="soliForm">
                  <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGroup1" placeholder="Username" formControlName="valor_solicitud">
                      <label for="floatingInputGroup1">Valor de la solicitud</label>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">%</span>
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGroup1" placeholder="Username" formControlName="porcentaje_rentabilidad">
                      <label for="floatingInputGroup1">Porcentaje de rentabilidad</label>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">%</span>
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGroup1" placeholder="Username" formControlName="porcentaje_liquidez">
                      <label for="floatingInputGroup1">Porcentaje de liquidez</label>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">#</span>
                    <div class="form-floating">
                      <input type="number" class="form-control" id="floatingInputGroup1" placeholder="Username" formControlName="nivel_riezgotolerado">
                      <label for="floatingInputGroup1">Nivel de riezgo tolerado</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="crearSolicitud()">Enviar Solicitud</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Modal de informacion -->
  <div class="modal fade" id="modalStaticS" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalstaticnegocio" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              @if (solicitud | async; as result) {
                <ul class="list-group">
                  <li class="list-group-item list-group-item-dark text-center">Informacion de la Solicitud</li>
                  <li class="list-group-item list-group-item-dark text-center">${{result.valor_solicitud}}</li>
                  <li class="list-group-item list-group-item-dark text-center">Nivel de Rezgo Tolerado: {{result.nivel_riezgotolerado}}</li>
                  <li class="list-group-item list-group-item-dark text-center">Liquidez: {{result.porcentaje_liquidez}}%</li>
                  <li class="list-group-item list-group-item-dark text-center">Rentabilidad: {{result.porcentaje_rentabilidad}}%</li>
                </ul>

                <ul class="list-group mt-4">
                  <li class="list-group-item list-group-item-dark text-center">Informacion Del Inversionista</li>
                  <li class="list-group-item list-group-item-dark text-center">{{result.inversionista.usuario.persona?.nombre_persona}}</li>
                  <li class="list-group-item list-group-item-dark text-center">{{result.inversionista.usuario.persona?.apellido_persona}}</li>
                  <li class="list-group-item list-group-item-dark text-center">{{result.inversionista.usuario.persona?.ciudad}}</li>
                  <li class="list-group-item list-group-item-dark text-center">{{result.inversionista.usuario.persona?.telefono}}</li>
                </ul>
              }
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="aceptarSolicitud()">Aceptar Solititud de Inversion</button>
          </div>
        </div>
    </div>
</div>

<!-- Modal de informacion -->
<div class="modal fade" id="modalStaticI" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalstaticnegocio" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            @if (inversionSesion | async; as result) {
              <ul class="list-group">
                <li class="list-group-item list-group-item-dark text-center">Informacion de la Solicitud</li>
                <li class="list-group-item list-group-item-dark text-center">${{result.solicitud.valor_solicitud}}</li>
                <li class="list-group-item list-group-item-dark text-center">Nivel de Rezgo Tolerado: {{result.solicitud.nivel_riezgotolerado}}</li>
                <li class="list-group-item list-group-item-dark text-center">Liquidez: {{result.solicitud.porcentaje_liquidez}}%</li>
                <li class="list-group-item list-group-item-dark text-center">Rentabilidad: {{result.solicitud.porcentaje_rentabilidad}}%</li>
              </ul>

              <ul class="list-group mt-4">
                <li class="list-group-item list-group-item-dark text-center">Informacion Del Inversionista</li>
                <li class="list-group-item list-group-item-dark text-center">{{result.inversionista.usuario.persona?.nombre_persona}}</li>
                <li class="list-group-item list-group-item-dark text-center">{{result.inversionista.usuario.persona?.apellido_persona}}</li>
                <li class="list-group-item list-group-item-dark text-center">{{result.inversionista.usuario.persona?.ciudad}}</li>
                <li class="list-group-item list-group-item-dark text-center">{{result.inversionista.usuario.persona?.telefono}}</li>
              </ul>
            }
          </div>
      </div>
  </div>
</div>

<!-- Modal de informacion -->
<div class="modal fade" id="modalStaticC" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalstaticnegocio" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h1 class="text-center">Estas Seguro?</h1>
            <h4 class="text-center">una vez cierres la subasta no podran invertir en tu negocio</h4>
          </div>
          <div class="modal-body row gx-0 gap-4">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (click)="cerrarSubasta()">Cerrar Subasta</button>
          </div>
      </div>
  </div>
</div>
