<div class="m-0 p-0 bg-light">
  <div class="bg-light">
      <div class="bg-dark">
          <header class="z-2 bg-head rounded-bottom-3 navbar pt-0 pb-0 gx-0 shadow bg-secondary">
              <div class="container-fluid gap-0 shadow rounded-bottom-3 pt-2 pb-2 rounded-bottom-3 justify-content-around shadow bg-light">
                  <h1 class="fw-semibold ms-4">Invest</h1>
                  <div class="vr"></div>
                  <div class="input-group w-50">
                      <input type="text" class="form-control" placeholder="¿Buscas Algo?" aria-label="¿Buscar Algo?" aria-describedby="button-addon">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon">Buscar</button>
                  </div>
                  <button data-bs-toggle="offcanvas" class="navbar-toggler d-flex row align-items-center" type="button" data-bs-target="#offcanvas2" aria-controls="offcanvas2" style="margin-right: 10px">
                      <div class="col-sm-auto text-center">
                          <label class="fw-semibold">Perfil</label>
                      </div>
                      <div class="col-sm-auto" style="width: 60px; height: 60px; background-color: #ffffff; ">
                          <img src="" alt="">
                      </div>
                  </button>
              </div>
              <div class="shadow collapse navbar-collapse show rounded-bottom-3 pb-2">
                  <div class="container-fluid d-flex flex-wrap pt-3 pb-2 justify-content-center gap-4">
                      <a class="btn btn-secondary shadow">categoria</a>
                      <a class="btn btn-secondary shadow">categoria</a>
                      <a class="btn btn-secondary shadow">categoria</a>
                      <a class="btn btn-secondary shadow">categoria</a>
                      <a class="btn btn-secondary shadow">categoria</a>

                  </div>
              </div>
          </header>
      </div>
      <div class="rounded-bottom-3 shadow bg-dark p-4 row gx-0 gap-5 justify-content-around">
        <app-ofertas></app-ofertas>
      </div>
      <footer class="z-0 navbar navbar-expand-lg text-center align-items-center bg-light pt-3 pb-4" style="height: 20%;">
          <div class="container-fluid justify-content-center gap-4 ">
              <div class="col">
                  <label class="col text-center align-items-center h-auto fw-semibold fs-6">Nuestra Empresa</label>
                  <ul class="list-group list-group-flush rounded-3">
                      <li class="list-group-item list-group-item-light p-0 pt-1"><a>Quienes Somos</a></li>
                      <li class="list-group-item list-group-item-light p-0 pt-1"><a>Se un Inversor</a></li>
                      <li class="list-group-item list-group-item-light p-0 pt-1"><a>¿Crecer tu negocio?</a></li>
                  </ul>
              </div>
              <div class="vr"></div>
              <div class="col">
                  <label class="col text-center">Metodos de Pago</label>
              </div>
              <div class="vr"></div>
              <div class="col">
                  <label class="col text-center">Politicas</label>
              </div>
              <div class="vr"></div>
              <div class="col">
                  <label class="col text-center">Formacion</label>
              </div>
          </div>
      </footer>
  </div>

  <div class="shadow offcanvas offcanvas-end rounded-end-2 rounded-start-2" id="offcanvas2">
      <div class="z-2 shadow justify-content-start rounded-start-2 row fs-5 fw-semibold  pt-2 pb-2 sticky-sm-top gx-0">
          <button type="button" class="position-absolute col-auto btn-close ms-1" data-bs-dismiss="offcanvas" aria-label="close"></button>
          <label class="col-auto text-center flex-grow-1 offcanvas-title">Perfil de Usuario</label>
      </div>
      <app-perfil-opciones></app-perfil-opciones>
  </div>
</div>
<router-outlet />
